@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

.tygr-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    z-index: 2;
    margin-bottom: -40px;
    margin-left: 22px;
  }

  h3 {
    color: white;
    margin: 0;
    font-size: 28px;
    font-family: Sansita Swashed, cursive;
  }

  .cls-1,
  .cls-2 {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 72px;
  }

  .cls-1 {
    stroke: $accent-1;
    animation: _cls-1 3s infinite;
  }

  .cls-2 {
    stroke: $accent-2;
    animation: _cls-2 3s infinite;
  }
}

@keyframes _cls-1 {
  0% {
    stroke-dasharray: 1 3475;
    stroke-dashoffset: -3475;
  }

  /* T */
  25% {
    stroke-dasharray: 361 2000;
    stroke-dashoffset: -1612;
  }
  40% {
    stroke-dasharray: 361 2000;
    stroke-dashoffset: -1612;
  }

  /* G */
  65% {
    stroke-dasharray: 1048 2963;
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dasharray: 1048 2963;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 1 3900;
    stroke-dashoffset: 425;
  }
}

@keyframes _cls-2 {
  0% {
    stroke-dasharray: 1 2800;
    stroke-dashoffset: 0;
  }

  /* T */
  25% {
    stroke-dasharray: 445 2111;
    stroke-dashoffset: -158;
  }
  40% {
    stroke-dasharray: 445 2111;
    stroke-dashoffset: -158;
  }

  /* G */
  65% {
    stroke-dasharray: 183 1518;
    stroke-dashoffset: -1518;
  }
  70% {
    stroke-dasharray: 183 1518;
    stroke-dashoffset: -1518;
  }

  100% {
    stroke-dasharray: 1 2800;
    stroke-dashoffset: -2711;
  }
}
