@import '../';

html,
body,
#app {
  height: 100%;
  background-color: #423d5c;
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tygr-login {
  display: flex;
  flex-direction: column;
  background-color: white;

  * {
    margin: 8px;
  }

  // Styles applied to all [data-auth] elements
  [data-auth] {
    transition: all 0.3s;
    max-height: 32px;
    overflow: visible;

    // animation: _fade-in 1s;
  }

  // Styles applied to [data-auth] elements when state is *INACTIVE*
  @include switch('auth', login, register, reset-password) {
    opacity: 0;
    max-height: 0;
    margin: 0 8px;
    border: none;
    padding: 0;

    // animation: _fade-out 1s forwards;
  }

  .header button {
    background: none;
    border: 1px solid black;
    padding: 8px;
    background-color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.selected {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes _fade-out {
  to {
    opacity: 0;
  }
}

@keyframes _fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
